// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #87ad25;
$secondary: #00bcd7;
$accent: #a9ad9b;
$footer: #384747;

$dark: #384747;

$positive: #21ba45;
$negative: #c10015;
$info: #ffffff;
$warning: #f2c037;
